/* global styles*/
h1 {
  color: #369;
  font-family: Comic Sans MS, Comic Sans, cursive;
  font-size: 250%;
}

h2 {
  color: #256;
  font-family: American Typewriter, serif;
  font-size: 200%;
}
 h3 {
  color: #256;
  font-family: American Typewriter, serif;
  font-weight: lighter;
}

body {
  margin: 2em;
}

body, input[type="text"], button {
  color: #333;
  font-family: Snell Roundhand, cursive;
}
/* everywhere else */
* {
  font-family: Chalkduster, fantasy;
}
